GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/du-etl-sa.json
GCP_PROJECT_ID=ducks-etl-project
BQ_RAW_DATASET=ducks_raw
BQ_RAW_TABLE=ducks_chapters
DUCKS_API_URL=https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json